/* ==========================================================================
   Main
   ========================================================================== */

img {
    width: 100%;
    height: auto;
}

body, h1, h2, h3, h4, h5, h6, p, div, a, ul, ol, li, form, input, button {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0 0 0 0;
    margin: 1em 0 0 0;
}

.jumbotron {
    padding: 20px 0 80px 0;
    background-color: #333;
}

.jumbotron,
.jumbotron a {
    color: #d0d0d0;
}

.jumbotron p {
    font-weight: 300;
}

.jumbotron hr {
    border-top: #444 1px solid;
    border-bottom: #222 1px solid;
}

.jumbotron img {
    border: 2px solid #222;
}

.jumbotron a {
    font-style: italic;
}

.jumbotron a:hover {
    color: #fff;
}

/* ==========================================================================
   Affix / Scrollspy
   ========================================================================== */

.body {
    position: relative;
}

.affix {
    width: inherit;
    position: fixed;
    top: 0;
}

.affix-bottom {
    width: inherit;
    position: absolute;
    top: auto;
    bottom: 200px;
}

.affix-top {
}








